.container {
  height: 80vh;
  overflow:auto
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.temperature-row {
  display: flex;
  margin-bottom: 5px;
}
.humidity-row {
  display: flex;
}
.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputWrapper input {
  height: 51px;
}
.inputWrapper small {
  font-size: 12px;
}
.calculate-flex {
  display: flex;
  gap: 5px;
  margin-top: 1em;
}
table {
  width: 100%;
}
th, td {
  border: 1px solid grey;
  padding: 5px;
  font-size: 15px;
}
.unit {
  position: absolute;
  top: 15px;
  left: 90%;
}
.temperature-text {
  margin-right: 33px;
}
.humidity-text {
  margin-right: 20px;
}
 .effect {
  text-align: center;
 }
 .history {
  margin-top: 40px;
  max-height: 100%;
 }
tr th {
  text-align: center;
 }