.container {
  height: 77vh;
  position: relative;
}
.cols fa-icon {
  margin-right: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.filters-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters-switch p {
  margin-right: 10px;
}
.flex-filter {
  display: flex;
  justify-content: space-between;
}
.flex-filter span {
  position: relative;
}
.flex-filter i {
  position: absolute;
  top: 10px;
  left: 85%;
}
.filter-input {
  height: 40px;
}
.cols span {
  display: flex;
  align-items: center;
}
 .slider-values {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .latest-data {
  position: absolute;
  bottom: 50%;
  left: 34%;
  z-index: 1;
}